<!-- start banner Area -->
<section class="banner-area relative generic-banner img-gb" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                <h4 class="text-white text-uppercase">Encuentra la mejor comida</h4>
                <h1>
                    Cerca de ti			
                </h1>
                <p class="text-white">
                    Disponible ahora para Android y iOS
                </p>
                <a href="#" class="primary-btn header-btn text-uppercase">Descargar</a>
            </div>												
        </div>
    </div>
</section>
<!-- End banner Area -->	