$def with (restaurantes,locales)


<!-- start banner Area -->
<section class="banner-area relative generic-banner img-gb" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                <h4 class="text-white text-uppercase">Encuentra la mejor comida</h4>
                <h1>
                    Cerca de ti
                </h1>
                <p class="text-white">
                    Disponible ahora para Android y iOS
                </p>
                <a href="#" class="primary-btn header-btn text-uppercase">Descargar</a>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->






<!-- Start related Area -->
<section class="related-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Restaurantes Populares</h1>
                    <p>Elegidos por la comunidad</p>
                </div>
            </div>
        </div>
            <div class="row justify-content-center">
                <div class="active-realated-carusel">
                    $for item in restaurantes
                        <div class="item row align-items-center">
                            <div class="col-lg-6 rel-left">
                                <h3>
                                    $item['nombre']
                                </h3>
                                <p class="pt-30 pb-30">
                                    $item['direccion']
                                </p>
                                <a href="local.html" class="primary-btn header-btn text-uppercase">Ver más</a>
                            </div>
                            <div class="col-lg-6">
                                <img class="img-fluid" src="static/img/papeleria.jpg" alt="">
                            </div>
                        </div>
                        $for item in locales
                            <div class="item row align-items-center">
                                <div class="col-lg-6 rel-left">
                                    <h3>
                                        $item['nombre']
                                    </h3>
                                    <p class="pt-30 pb-30">
                                        $item['direccion']
                                    </p>
                                    <a href="local.html" class="primary-btn header-btn text-uppercase">Ver más</a>
                                </div>
                                <div class="col-lg-6">
                                    <img class="img-fluid" src="static/img/papeleria.jpg" alt="">
                                </div>
                            </div>
                </div>
            </div>
    </div>
</section>
<!-- End related Area -->

