<br><br><br>
<div id="primary" class="content-area fullwidth">
    <div id="content" class="site-content">

        <div class="row">
            <div class="col-12 col-md-4">

                <!-- Card -->
                <div class="card booking-card">

                    <!-- Card image -->
                    <div class="view overlay single-dish">
                        <div class="thumb">
                            <img class="card-img-top" src="static/img/crayolas.jpg" alt="Card image cap">
                        </div>
                        <div class="mask rgba-white-slight"></div>
                        </a>
                    </div><br><br><br><br><br><br><br><br>

                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title font-weight-bold text-danger"><a>Restaurante</a></h4>

                        <!-- Data -->
                        <h1>Restaurante</h1>
                        Esta opción es ideal si tu negocio es un restaurante, un local de antojitos,
                        un bar, etc.
                        <a href="/usuario/restaurante" class="btn btn-danger">¡Soy un restaurante!</a>
                    </div>
                </div>
                <!-- Card -->
            </div><!-- end col -->

            <div class="col-12 col-md-4">
                <!-- Card -->

                <div class="card booking-card">

                    <!-- Card image -->
                    <div class="view overlay single-dish">
                        <div class="thumb">
                            <img class="card-img-top" src="static/img/lapiz.jpg" alt="Card image cap">
                        </div>
                        <div class="mask rgba-white-slight"></div>
                        </a>
                    </div><br><br><br><br><br><br><br><br>

                    <!-- Card content -->
                    <div class="card-body">
                        <!-- Title -->
                        <h4 class="card-title font-weight-bold text-danger"><a>Negocios</a></h4>

                        <!-- Data -->
                        <h1>Negocios</h1>
                        ¿Tienes una tienda? ¿Papeleria? ¿Ferreteria? 
                        Si tu negocio se dedica a ver cualquier otra cosa que no incluya comida, 
                        esta opción es la ideal para ti.
                        <a href="/usuario/restaurante" class="btn btn-danger">¡Soy un negocio!</a>
                    </div>

                </div>
                <!-- Card -->
            </div><!-- end col -->
            <div class="col-12 col-md-4">
                <!-- Card -->

                <div class="card booking-card">

                    <!-- Card image -->
                    <div class="view overlay single-dish">
                        <div class="thumb">
                            <img class="card-img-top" src="static/img/lapiz.jpg" alt="Card image cap">
                        </div>
                        <div class="mask rgba-white-slight"></div>
                        </a>
                    </div><br><br><br><br><br><br><br><br>

                    <!-- Card content -->
                    <div class="card-body">
                       <!-- Title -->
                       <h4 class="card-title font-weight-bold text-danger"><a>Cliente</a></h4>
                        
                       <!-- Data -->
                           <h1>Clientes</h1>
                           Si tu simplemente quieres comprar dentro de la aplicación,
                           no busques más. Esta es tu opción.
                           <a href="/usuario/restaurante" class="btn btn-danger">¡Soy un cliente!</a>
                    </div>
                </div>
                <!-- Card -->
            </div><!-- end col -->
        </div><!-- end row -->

    </div><!-- end content -->
</div><!-- end primary --><br><br><br>